[submodule "sistemasOperacionais/t2/paradig/a1.haskell01"]
	path = sistemasOperacionais/t2/paradig/a1.haskell01
	url = https://github.com/elc117/haskell01-2024b-Ivnmendes
[submodule "sistemasOperacionais/t2/paradig/a2.haskell01"]
	path = sistemasOperacionais/t2/paradig/a2.haskell01
	url = https://github.com/elc117/haskell01-2024b-Ivnmendes
[submodule "sistemasOperacionais/t2/paradig/a3.haskell-apresentacao"]
	path = sistemasOperacionais/t2/paradig/a3.haskell-apresentacao
	url = https://github.com/elc117/apresentacao-bim1-2024b-Ivnmendes
[submodule "sistemasOperacionais/t2/paradig/a4.haskell-prod-perso"]
	path = sistemasOperacionais/t2/paradig/a4.haskell-prod-perso
	url = https://github.com/elc117/perso-2024b-Ivnmendes
[submodule "sistemasOperacionais/t2/paradig/a5.prolog"]
	path = sistemasOperacionais/t2/paradig/a5.prolog
	url = https://github.com/elc117/prolog-2024b-Ivnmendes
[submodule "sistemasOperacionais/t2/paradig/a6.java"]
	path = sistemasOperacionais/t2/paradig/a6.java
	url = https://github.com/elc117/java-2024b-Ivnmendes
[submodule "sistemasOperacionais/t2/paradig/a7.java-apresentacao"]
	path = sistemasOperacionais/t2/paradig/a7.java-apresentacao
	url = https://github.com/elc117/apresentacao-bim2-2024b-Ivnmendes
[submodule "sistemasOperacionais/t2/paradig/a8.trabalho-final"]
	path = sistemasOperacionais/t2/paradig/a8.trabalho-final
	url = https://github.com/elc117/game-2024b-paradigmersadventure
