### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Gradle ###
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
/build-scan-data/
*.log

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

.idea
.idea_modules/
*.iml
*.ipr
*.iws

### Mac OS ###
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# End of https://www.toptal.com/developers/gitignore/api/eclipse,intellij,netbeans,visualstudiocode,macos,gradle